<!--Search-->
<layout-pro-search></layout-pro-search>
<!--Link-->
<nz-tooltip nzTitle="使用文档" nzPlacement="bottom">
  <a nz-tooltip target="_blank" href="https://e.ng-alain.com/theme/pro" rel="noopener noreferrer" class="alain-pro__header-item">
    <i nz-icon type="question-circle"></i>
  </a>
</nz-tooltip>
<!--Notify-->
<layout-pro-notify></layout-pro-notify>
<!--User-->
<layout-pro-user></layout-pro-user>
<!--Languages-->
<pro-langs></pro-langs>
<!--Quick panel-->
<layout-pro-quick></layout-pro-quick>
