<!--Search-->
<layout-pro-search class="hidden-xs"></layout-pro-search>
<!--Link-->
<nz-tooltip nzTitle="使用文档" nzPlacement="bottom" class="hidden-xs">
  <a nz-tooltip target="_blank" href="https://e.ng-alain.com/theme/pro" rel="noopener noreferrer" class="alain-pro__header-item">
    <i nz-icon type="question-circle"></i>
  </a>
</nz-tooltip>
<!--Notify-->
<layout-pro-notify class="hidden-xs"></layout-pro-notify>
<!--User-->
<layout-pro-user></layout-pro-user>
<!--Languages-->
<!--<pro-langs></pro-langs>-->
<!--Quick panel-->
<layout-pro-quick class="hidden-xs"></layout-pro-quick>
