<page-header-wrapper [title]="id === '0' ? '创建新租户' : '编辑租户'">
    <form *ngIf="tenant" nz-form #f="ngForm" (submit)="submit()" class="sf__no-error">
        <nz-card nzTitle="租户基本信息">
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">名称</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <input [(ngModel)]="tenant.name" name="name" nz-input style="width: 60%; margin-right:8px;"
                           placeholder="请输入名称">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">租户名称</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <input [(ngModel)]="tenant.tenancyName" name="tenancyName" nz-input style="width: 60%; margin-right:8px;"
                           placeholder="请输入租户名称">
                </nz-form-control>
            </nz-form-item>
        </nz-card>
        <nz-card nzTitle="其它">
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">版本Id</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <input [(ngModel)]="tenant.editionId" name="editionId" nz-input style="width: 60%; margin-right:8px;"
                           placeholder="请输入租户名称">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">数据库连接字符串</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <input [(ngModel)]="tenant.connectionString" name="connectionString" nz-input style="width: 60%; margin-right:8px;"
                           placeholder="请输入租户名称">
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">激活</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <nz-switch [(ngModel)]="tenant.isActive"
                               name="isActive" nzCheckedChildren="是"
                               nzUnCheckedChildren="否"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">是否试用中</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <nz-switch [(ngModel)]="tenant.isInTrialPeriod"
                               name="isInTrialPeriod" nzCheckedChildren="是"
                               nzUnCheckedChildren="否"></nz-switch>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzXs]="24" [nzSm]="4">订阅结束时间</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <input [(ngModel)]="tenant.subscriptionEndDateUtc" name="subscriptionEndDateUtc" nz-input style="width: 60%; margin-right:8px;"
                           placeholder="请输入租户名称">
                </nz-form-control>
            </nz-form-item>
        </nz-card>

        <nz-card nzTitle="特性">
            <nz-form-item *ngFor="let feature of features">
                <nz-form-label [nzXs]="24" [nzSm]="4">{{feature.displayName}}</nz-form-label>
                <nz-form-control [nzXs]="24" [nzSm]="20">
                    <input [(ngModel)]="tenant.editionId" name="editionId" nz-input style="width: 60%; margin-right:8px;"
                           placeholder="请输入租户名称">
                </nz-form-control>
            </nz-form-item>
        </nz-card>
        <footer-toolbar>
            <button type="submit" nz-button nzType="primary" [disabled]="f.invalid">添加</button>
            <button type="button" nz-button (click)="cancel()">返回</button>
        </footer-toolbar>
    </form>
</page-header-wrapper>
